*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
	background-image:url( godzilla.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	 color: #FFFFFF;

}

#principal{
	border: solid #7FFFD4 1px;
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%;
}
#principalEmpresa{
	border: solid #7FFFD4 1px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%;
}

.jugador{
	border: solid black 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
}

#formTodo{
	border: solid black 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%;
}

#formTodoEmpresa{
	border: solid black 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%;
}
.addBtn{
	border-radius: 12px;
width: 70px;
	height: 40px;
}
.deletBtn{
		border-radius: 12px;
width: 70px;
	height: 40px;
}
.modifBtn{
		border-radius: 12px;
width: 70px;
	height: 40px;
}

.addBtn:hover{
	background-color: #7FFFD4
}
.deletBtn:hover{
	background-color: #7FFFD4
}
.modifBtn:hover{
	background-color: #7FFFD4
}
.addBtn:disabled{
	background-color: #cccccc
}
.deletBtn:disabled{
	background-color: #cccccc
}
.modifBtn:disabled{
	background-color: #cccccc
}
